@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$colors:(
    titulos:#000000,
    parrafos:#000000,
    navegacion:#FFFFFF,
    backgroundnav:rgb(61, 140, 204),
    hovercolor:#000000,
    backgroundhover:#FFFFFF,
    contactbackground:#FFFFFF
);

//Vars
$fontSizeTitles:2rem;
$fontSizeParagraphs:1.25rem;
$fontSizenav:1.5rem;
$fontMain:"League Spartan";

//Mixins
@mixin bg-setup {
    background-color: #FFFFFF; 
    background-position: center;
    background-size: cover;   
}

//Bucles
@for $i from 1 through 10 {
	.padding-#{$i}{
	padding:10px * $i;
	}
}

@for $i from 1 through 10 {
	.margin-#{$i}{
	margin:10px * $i;
	}
}

@for $i from 1 through 10 {
	.border-radius-#{$i}{
	border-radius:10px * $i;
	}
}


